/* tables */
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}

hr{color:#333333; border:2px; }

/* address */
.address_suggestion:hover{
    background-color:#F9F9F9;
    cursor:hand; cursor:pointer;
}
.th-groups th {
/*
background-color: rgba(0,0,0,.1);
border-right: 2px solid #A5A5A5;
*/
color:black;
}
/*
#list-table th:first-child{
width:22px;
}
*/
.ui-content{padding:0}
.ui-content-popup{padding:10px}
.notice_me{color:yellow !important}
.listing-edit{padding:10px}
.listing-edit-right{padding-left:10px}
.listing-edit-left{padding-left:10px}
.link_disabled{color:gray !important}
.action-panel {padding:0em 0.4em 0em 0.4em}
#search-list{display:none}
#list-table .ui-mini {font-size:initial}
#list-table .ui-btn {padding: .7em 1.1em} /* sorts out wide checkbox labes areas */
#upload .ui-input-text{border-style:none; }
.auto_height {
min-height: 150px; /* !important is used to force override. */
}
.ui-panel {z-index:3 !important} /* for jqm panel as it shows elements on the list */
#footer-region{z-index:4 !important} /* for openstreet map elements which stay on top of footer */
.ui-btn-b {background-color: #333 !important; color:#f9f9f9 !important; text-shadow:none !important}
table label {background-color:None !important}
#info ul{padding:0px; margin:0px}
#info li{list-style:none}
.required_and_private_field{color:#3388CC; font-weight:bold}
.private_field{color:#3388CC; font-weight:bold}
.required_field{font-weight:bold; color:#C1272D}
.tickbox{width:3% !important}
h4 {
    color: black;
    font-size: 12px;
    text-transform: uppercase;}

.help-block {
    font-weight: bold;
    color: yellow;
    background-color: black;
    text-shadow: none;

}
.aktywna,  .kupujcy{color:green}
.nieaktywna, .sprzedajcy{color:red}
.archiwalna, .wynajmujcy{color:gray}
.robocza, .najemca{color:blue}
.sprzedana{color:yellow}
.wynajta{color:pink}
.umowa-przedwstpna{color:purple}
.usunita{color:black}
.hidden{display:none}
/*
fix for horizontal.control.group mess -> applicable only to chrome
https://github.com/jquery/jquery-mobile/issues/7793
}
#sub_header .ui-controlgroup-horizontal .ui-select {
padding-top:0.5px
}
*/
#sub_header .ui-select > .ui-btn { display: block !important; }

/*
for controlgroups with addional text fields information ____|m2
additional style to .subscript .ui-controlgroup-controls otherwise subscript fields are dropping onto new line ...?
*/
.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;

}
.subscript .ui-controlgroup-controls {width:100%}
#info{width:250px}
#openmap{display:block; z-index:1; width: 100%; height: 350px}
#sub_header .ui-mini{margin:0 !important}
#footer a{text-decoration:none}
/*
@media all {
	#edit_tabs .ui-block-a,
	#edit_tabs .ui-block-b,
	#edit_tabs .ui-block-c,
	#edit_tabs .ui-block-d,
	#edit_tabs .ui-block-e {
		max-width: 20%;
		float:left !important;
		clear:none;

	}
}

*/
