/* tables */
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}

hr{color:#333333; border:2px; }
.help-block{color:red}

/* address */
.address_suggestion:hover{
    background-color:lightgrey;
}
.th-groups th {
background-color: rgba(0,0,0,.1);
border-right: 1px solid #A3A3A3;
}

#list-table th:first-child{
width:22px;
}
#upload .ui-input-text{
border-style:none;
}
.auto_height {
min-height: 150px; /* !important is used to force override. */
}
.ui-panel {z-index:3 !important} /* for jqm panel as it shows elements on the list */
.ui-btn-b {background-color: #333 !important}
